* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu__box {
    z-index: 2;
    overflow: scroll;
  }
  .menu__box::-webkit-scrollbar {
    display: none;
  }
  .menu__btn {
    z-index: 3;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
  }
  
  .header {
    width: 100%;
    height: 90vh;
    text-align: center;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    position: relative;
  }
  
  .img {
    margin-top: 100px;
    width: 400px;
  }
  
  .titulo {
    font-size: 45px;
    padding: 20px;
    color: #354d79;
  }
  
  .absolute {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  
  .title2 {
    text-align: center;
    font-size: 35px;
  }
  
  .fill1 {
    height: 100px;
  }
  
  .fill2 {
    height: 800px;
  }
  
  /* From cssbuttons.io by @adamgiebl */
  .cssbuttons-io-button {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    margin: auto;
    z-index: 1;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }